<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.wwithu72"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /> <!-- Indicates use of Android's VR-mode, available only on Android N+. -->
    <uses-feature
        android:name="android.software.vr.mode"
        android:required="false" /> <!-- Indicates use of VR features that are available only on Daydream-ready devices. -->
    <uses-feature
        android:name="android.hardware.vr.high_performance"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="Walk With You"
        android:theme="@style/Theme.AppCompat.NoActionBar" >

        <!-- <activity android:name="."> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- android:label="YOLOv2" -->
        <activity
            android:name="org.tensorflow.wwithu72.FirstActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tensorflow.wwithu72.MapActivity"
            android:label="" />
        <activity
            android:name="org.tensorflow.wwithu72.SettingActivity"
            android:label="" />
        <activity
            android:name="org.tensorflow.wwithu72.view.CameraActivity"
            android:label="" />
        <activity
            android:name="org.tensorflow.wwithu72.view.ClassifierActivity"
            android:label="" />
        <activity
            android:name="org.tensorflow.wwithu72.BusActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.tensorflow.wwithu72.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providers_paths" />
        </provider>
    </application>

</manifest>